NAV.Models.Repositories.WCF/Service References/WcfServices/WCFServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://symdev:8123/DynamicsWCF/Services?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://symdev:8123/DynamicsWCF/Services?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFServices_ProxyGetConfiguration_InputMessage">
    <wsdl:part name="parameters" element="tns:ProxyGetConfiguration" />
  </wsdl:message>
  <wsdl:message name="IWCFServices_ProxyGetConfiguration_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProxyGetConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFServices_ProxyGetCustomerList_InputMessage">
    <wsdl:part name="parameters" element="tns:ProxyGetCustomerList" />
  </wsdl:message>
  <wsdl:message name="IWCFServices_ProxyGetCustomerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProxyGetCustomerListResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFServices_ProxyValidateLoginCredentials_InputMessage">
    <wsdl:part name="parameters" element="tns:ProxyValidateLoginCredentials" />
  </wsdl:message>
  <wsdl:message name="IWCFServices_ProxyValidateLoginCredentials_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProxyValidateLoginCredentialsResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFServices_ProxySaveCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:ProxySaveCustomer" />
  </wsdl:message>
  <wsdl:message name="IWCFServices_ProxySaveCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProxySaveCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFServices">
    <wsdl:operation name="ProxyGetConfiguration">
      <wsdl:input wsam:Action="http://tempuri.org/IWCFServices/ProxyGetConfiguration" message="tns:IWCFServices_ProxyGetConfiguration_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWCFServices/ProxyGetConfigurationResponse" message="tns:IWCFServices_ProxyGetConfiguration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProxyGetCustomerList">
      <wsdl:input wsam:Action="http://tempuri.org/IWCFServices/ProxyGetCustomerList" message="tns:IWCFServices_ProxyGetCustomerList_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWCFServices/ProxyGetCustomerListResponse" message="tns:IWCFServices_ProxyGetCustomerList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProxyValidateLoginCredentials">
      <wsdl:input wsam:Action="http://tempuri.org/IWCFServices/ProxyValidateLoginCredentials" message="tns:IWCFServices_ProxyValidateLoginCredentials_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWCFServices/ProxyValidateLoginCredentialsResponse" message="tns:IWCFServices_ProxyValidateLoginCredentials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProxySaveCustomer">
      <wsdl:input wsam:Action="http://tempuri.org/IWCFServices/ProxySaveCustomer" message="tns:IWCFServices_ProxySaveCustomer_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWCFServices/ProxySaveCustomerResponse" message="tns:IWCFServices_ProxySaveCustomer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCFServices" type="tns:IWCFServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProxyGetConfiguration">
      <soap:operation soapAction="http://tempuri.org/IWCFServices/ProxyGetConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProxyGetCustomerList">
      <soap:operation soapAction="http://tempuri.org/IWCFServices/ProxyGetCustomerList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProxyValidateLoginCredentials">
      <soap:operation soapAction="http://tempuri.org/IWCFServices/ProxyValidateLoginCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProxySaveCustomer">
      <soap:operation soapAction="http://tempuri.org/IWCFServices/ProxySaveCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFServices">
    <wsdl:port name="BasicHttpBinding_IWCFServices" binding="tns:BasicHttpBinding_IWCFServices">
      <soap:address location="http://symdev:8123/DynamicsWCF/Services" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>